.test-section {
    background: #0066dd;
    padding: 20px;
    color: white;
    text-align: center;

    &.large {
        width: 100%;
        font-size: 20px;
    }
    &.med {
        width: 70%;
        font-size: 16px;
    }
    &.small {
        width: 50%;
        font-size: 14px;
    }

    .test-loaded, .test-loading {
        background: #0188dd;
        border-radius: 20px;
    }
}